@using Datamarka_MVC.Controllers
@using Datamarka_MVC.Enums
@using System.Linq

@using (Html.BeginForm(
							actionName: nameof(ProductController.Delete),
							controllerName: Html.ViewContext.RouteData.Values["controller"].ToString(),
							FormMethod.Post))
{

	<div class="card" style="width: 50rem;">
		<div class="card-body">
			<h5 class="card-subtitle"><u>Детали продукта</u></h5>
			<p class="card-text">@nameof(Model.Id) : @Model.Id</p>
			<p class="card-text">@nameof(Model.GTIN) : @Model.GTIN</p>
			<p class="card-text">Наименование: @Model.Name</p>
			<p class="card-text">Внутр. код: @Model.KPR</p>
			<p class="card-text">Годен, суток: @Model.BestBeforedays</p>
			<p class="card-text">Кол-во в упаковке: @Model.CountInPack</p>
			<p class="card-text">Кол-во на паллете: @Model.CountInPallet</p>
			<a href="@Url.Action(nameof(ProductController.Index))" class="card-link">Назад к списку</a>
			<!--submit button-->
			<div>
				<input type="submit" value="Удалить" class="btn btn-success m-2" />
			</div>
		</div>
	</div>

}