@using Datamarka_BLL.Contracts.Identity
@using Datamarka_DomainModel.Models.Identity
@using Datamarka_MVC.Controllers.Identity
@using System.Linq
@using Datamarka_MVC.DataTransferObjects.Identity
@model UserBriefDTO;

<h2>Регистрация</h2>

<!--Form for adding customer-->
@using (Html.BeginForm(
			actionName: nameof(AccountController.Register),
					controllerName: "Account",
			FormMethod.Post))
{
	@Html.AntiForgeryToken()

		<!-- customer's UserName -->
	<div class="form-group">
		@Html.LabelFor(model => model.UserName, "Логин", new { @class = "form-label m-2" })
		@Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Password, "Пароль", new { @class = "form-label m-2" })
		@Html.PasswordFor(model => model.Password, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
	</div>
	
	<div class="form-group">
		@Html.LabelFor(model => model.ConfirmPassword, "Подтверждение пароля", new { @class = "form-label m-2" })
		@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
	</div>

	//submit button
	<div class="form-group">
		<input type="submit" value="Register" class="btn btn-success m-2" />
	</div>

}