@using Datamarka_BLL.Contracts
@using Datamarka_DomainModel.Models
@using Datamarka_MVC.Controllers
@using Datamarka_MVC.Enums
@using System.Linq
@model OrderDTO;

<h2>Создать задание на маркировку</h2>

@using (Html.BeginForm(
			actionName: nameof(OrderController.Create),
			controllerName: Html.ViewContext.RouteData.Values["controller"].ToString(),
			FormMethod.Post))
{
	@Html.AntiForgeryToken()

	<div class="form-group">

		@Html.LabelFor(model => model.ProductId, "Выберите продукт:", new { @class = "form-label m-2 fw-bold" })
			@Html.DropDownListFor(model => model.ProductId,
						ViewBag.Products as SelectList,
						null,
						new { @class = "form-select" })

	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Batch, "Партия:", new { @class = "form-label m-2 fw-bold" })
		@Html.TextBoxFor(model => model.Batch, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Batch, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.ProdDate, "Дата изготовления:", new { @class = "form-label m-2 fw-bold" })
		@Html.TextBoxFor(model => model.ProdDate, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.ProdDate, "", new { @class = "text-danger" })
	</div>
	
	<div class="form-group">
		@Html.LabelFor(model => model.WarrantDate, "Дата окончания срока годности:", new { @class = "form-label m-2 fw-bold" })
		@Html.TextBoxFor(model => model.WarrantDate, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.WarrantDate, "", new { @class = "text-danger" })
	</div>

	//submit button
	<div class="form-group">
		<input type="submit" value="Создать" class="btn btn-success m-2" />
	</div>

}