@using Datamarka_MVC.Controllers
@using Datamarka_MVC.Enums
@using System.Linq

@using (Html.BeginForm(
							actionName: nameof(OrderController.Delete),
							controllerName: Html.ViewContext.RouteData.Values["controller"].ToString(),
							FormMethod.Post))
{

	<div class="card" style="width: 50rem;">
		<div class="card-body">
		<p class="card-text">Id : @Model.Id</p>
		<p class="card-text">Наименование продукта: @Model.Product.Name</p>
		<p class="card-text">GTIN : @Model.Product.GTIN</p>
		<p class="card-text">Партия : @Model.Batch</p>
		<p class="card-text">Дата изготовления : @Model.ProdDate</p>
		<p class="card-text">Дата годности : @Model.WarrantDate</p>
		<p class="card-text">Статус : @Model.Status</p>
			<a href="@Url.Action(nameof(OrderController.List))" class="card-link">Назад к списку</a>
			<div>
				<input type="submit" value="Удалить" class="btn btn-success m-2" />
			</div>
		</div>
	</div>

}