@using Datamarka_DomainModel.Models.Identity
@using Datamarka_MVC.Controllers

<div class="card" style="width: 50rem;">
	<div class="card-body">
		<h4 class="card-title"><u>Детали задания</u></h4>
		<p class="card-text">Id : @Model.Id</p>
		<p class="card-text">Наименование продукта: @Model.Product.Name</p>
		<p class="card-text">GTIN : @Model.Product.GTIN</p>
		<p class="card-text">Партия : @Model.Batch</p>
		<p class="card-text">Дата изготовления : @Model.ProdDate</p>
		<p class="card-text">Дата годности : @Model.WarrantDate</p>
		<p class="card-text">Статус : @Model.Status</p>
		<a href="@Url.Action(nameof(ProductController.Index))" class="card-link">Назад к списку</a>
	</div>
</div>